.venv
.vscode
.env
archive_upload.log
en_server/ImageServer_100600_01_de.pack
en_server/ImageServer_100600_01_es.pack
en_server/ImageServer_100600_01_fr.pack
en_server/ImageServer_100600_01_it.pack
en_server/ImageServer_120400_01_th.pack
en_server/NumberServer_100600_03_de.pack
en_server/NumberServer_100600_03_es.pack
en_server/NumberServer_100600_03_fr.pack
en_server/NumberServer_100600_03_it.pack
en_server/NumberServer_120400_03_th.pack
kr_server/SImageDataServer.pack
tw_server/SImageDataServer.pack
apks/
